.inputgroup {
  margin: 30px 0;
}

.inputgroup > * {
  display: block;
}

.label {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.inputgroup input,
.inputgroup select {
  margin: 7px 0;
  width: 100%;
  padding: 15px 0;
  text-indent: 20px;
  border: 2px solid #eaeaef;
  border-radius: 2px;
}

.inputgroup input[type="text"]:focus,
.inputgroup input[type="text"]:active,
.inputgroup input[type="email"]:focus,
.inputgroup input[type="email"]:active,
.inputgroup select:focus,
.inputgroup select:active {
  border-color: #2977f5;
}

.inputgroup:last-child {
  display: flex;
  justify-content: center;
}

.submitbtn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;

  resize: none;
}
.form {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  display: block;
}

.priceoof {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  color: white;
}
