html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.page-heading {
  text-align: center;
  margin-block: 40px;
}

footer {
  background: #181818;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 10vh;
}
