.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  width: 100vw;
  height: 80px;
}

.left {
  margin-left: 5vw;
  text-align: center;
}

.right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 1s ease-in-out;
}

.navbtn {
  padding: 8px 24px;
  background: transparent;
  border: none;
  background-color: #38e54d;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.hamburger {
  width: 40px;
  height: 30px;
  cursor: pointer;
  margin-inline: 40px;
  display: none;
}

.line {
  display: block;
  height: 6px;
  width: 100%;
  background-color: #fff;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
    margin-inline: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
  }
  .right {
    position: absolute;
    /* display: flex; */
    height: calc(100vh - 80px);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    top: 80px;
    left: -100vw;
    width: 100vw;
    z-index: 12;
  }
}
