.products > h1 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block: 5vh;
}

.card {
  width: 240px;
  border-radius: 4px;
  margin: auto;
  border: 1px solid white;
}

.productname {
  margin: 0;
  margin-top: 4px;
  text-align: center;
}

.productimage {
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.productprice {
  padding-inline: 16px;
  text-align: end;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-block: 15px;
}

.viewbutton,
.cartbutton {
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 40%;
  cursor: pointer;
}

.viewbutton {
  border: 1px solid #2192ff;
  color: #2192ff;
  background: transparent;
}
.viewbutton:hover {
  background-color: #2192ff;
  color: white;
}
.cartbutton {
  background-color: #7fb77e;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
